.page-footer {
  hr {
    margin-top: 1.5rem;
    border-width: 1px 0px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .footer-title {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .logo-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
  .link-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .fa-copyright {
    margin-right: 5px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
}
